.about-container {
  display: flex;
  justify-content: between;
  padding: 1.5rem;
}

.about-box {
  max-width:60%;
  display: flex;
  flex-direction: row;
  background-color: #111;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(9, 172, 58, 0.3);
  padding: 1.5rem;
  box-sizing: border-box;
  color: #00ff88;
  gap: 1.5rem;
  border: #00ff88 2px solid;
}

.image-wrapper {
  flex: 0 0 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.about-image {
  max-width: 100px;
  height: auto;
  object-fit: contain;
  border-radius: 4px;
}

.info-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-box h3 {
  text-align: center;
  margin-bottom: 0.75rem;
  font-size: 1.25rem;
  color: #00ffcc;
}

.about-box p {
  font-size: 0.95rem;
  margin-bottom: 0.5rem;
}

.about-box ul {
  list-style-type: disc;
  padding-left: 1.2rem;
  font-size: 0.95rem;
  margin-top: 0.5rem;
}

@media (max-width: 600px) {
  .about-box {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .info-wrapper {
    align-items: center;
  }

  .about-box ul {
    text-align: left;
    padding-left: 1.5rem;
  }
}
