.techstack-card {
  border: 1px solid #00ff00;
  background-color: black;
  color: #00ff00;
  padding: 1rem;
  border-radius: 8px;
  max-width:35%;

}

.techstack-tabs {
  display: flex;
  justify-self: end;
  gap: 1rem;
  padding-right: 4px;

}

.techstack-tab.active {
  background-color: #00ff00;
  color: black;
}

.techstack-content {
  border: 1px solid #00ff00;
 padding: 2rem;
 min-height: 5rem;
}

.techstack-title {
  text-align: center;
  font-size: 1.5rem;
}

.techstack-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
}

.techstack-tag {
  background-color: #003300;
  border: 1px solid #00ff00;
  border-radius: 4px;
  padding: 0.25rem 0.75rem;
  font-size: 1rem;
}

@media (max-width: 1240px) {
  .techstack-card {
    max-width: 100%;
    padding: 1rem;
    margin-top: 4rem;
  }
}


@media (max-width: 780px) {
  .techstack-card {
    max-width: 100%;
    padding: 1rem;
    margin-top: 4rem;
  }

  .techstack-tabs {
    justify-self: center;
    flex-direction: column;
    align-items: center;
    padding-right: 0;
    gap: 0.5rem;
  }

  .techstack-content {
    padding: 1rem;
    height:375px;
  }

  .techstack-title {
    font-size: 1.25rem;
  }

  .techstack-tag {
    font-size: 0.9rem;
    padding: 0.2rem 0.6rem;
  }
  .techstack-text {
    margin-bottom: 2rem;
  }
}
