@tailwind base;
@tailwind components;
@tailwind utilities;

.body{
  margin: 0;
  padding: 0;

}


@keyframes terminal-flicker {
  0%, 100% { opacity: 0.95; }
  10% { opacity: 0.97; }
  50% { opacity: 0.92; }
  75% { opacity: 0.98; }
}

@keyframes flicker {
  0%, 100% { opacity: 0.9; }
  50% { opacity: 0.95; }
}

.animate-terminal-flicker {
  animation: terminal-flicker 0.2s infinite;
}

.animate-flicker {
  animation: flicker 1s infinite;
}


.layout-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.row {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}


.column {
  display: flex;
  flex-direction: column;
  gap: 20rem;
}

@media (min-width: 1024px) {
  .row {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .column {
    flex: 1;
    gap:0;
  }
}