@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-terminal font-mono;
  background-image: radial-gradient(rgba(0, 255, 0, 0.1) 1px, transparent 0);
  background-size: 2px 2px;
  text-shadow: 0 0 4px #00ff00;
}
